.tableContainer {
    width: 100%;
    display: table;
    border-spacing: 0;
    border-collapse: collapse;
    border: 1px solid #f2f2f2;
    background: #ffffff;
    -webkit-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.2);
}
